<form method="post" action="/register">
  <div class="form-field">
    <label for="first_name">first_name</label>
    <input class="input" id="first_name" name="first_name" type="text" value="" />
  </div>
  <div class="form-field">
    <label for="last_name">last_name</label>
    <input class="input" id="last_name" name="last_name" type="text" value="" />
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input class="input" id="email" name="email" type="email" value="" />
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input class="input" id="password" name="password" type="password" value="" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>